button {
	height: 100%;
	width: 100%;
	background-color: white;
}

#overlay-list {
	-webkit-flex-direction: column;
	-moz-box-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 80%;
	width: 15%;
	background: black;
	overflow-y: scroll;
	overflow-x: hidden;
	border-width: thick;
    border: #0b2c4c;
    border-style: groove;
}

.overlay-item {
	width: 100%;
	height: 20%;
	border-style: inset;
	margin-bottom: 3%;
}